<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.0</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
   <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/token.js"></script>
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">演示</a>
			<a> <cite>导航元素</cite></a>
		</span> <a class="layui-btn layui-btn-small "
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon  layui-icon-refresh" style="line-height: 30px"></i></a>
	</div>
	<div class="x-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so">
				<input type="text" name="username" placeholder="请输入用户名"
					autocomplete="off" class="layui-input">
				<button class="layui-btn" lay-submit lay-filter="serach">
					<i class="layui-icon">&#xe615;</i>
				</button>
			</form>
		</div>
		<xblock>
		<button class="layui-btn"
			onclick="x_admin_show('添加用户','./admin-add.html')">
			<i class="layui-icon"></i>添加
		</button>
		<span class="x-right" style="line-height: 40px"></span> 
		</xblock>
		<table class="layui-table" lay-filter='serach' id='user'>
			<thead>
				<tr>
					<th>ID</th>
					<th>登录名</th>
					<th>手机</th>
					<th>邮箱</th>
					<th>姓名</th>
					<th>角色</th>
					<th>加入时间</th>
					<th>状态</th>
					<th>操作</th>
			</thead>
			<tbody id='tbody'>
			</tbody>
		</table>
		<div id="page" style="text-align: center"></div>
	</div>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/xadmin.js"></script>
	<script type="text/javascript" src="/static/lib/layui/layui.js"
		charset="utf-8"></script>
	<script>
		selectAll(1, true, '');

		function buildPage(count) {
			layui.use('laypage', function() {
				let laypage = layui.laypage;
				laypage.render({
					elem : 'page',
					count : count,
					limit : 10,
					jump : function(obj, first) {
						selectAll(obj.curr);
					}
				});
			});
		}
		//获取所有用户
		var token = '';
		function selectAll(page, first, username) {
			console.log(page, first, username)
			$('#tbody').empty();
			var data = ''
			if (page == '' || page == null || page == undefined) {
				data = {
					"username" : username
				}
			} else {
				data = {
					"page" : page
				}
			}
			$
					.ajax({
						url : '/users/findAll',
						// data:{},
						type : 'POST',
						dataType : 'json',
						data : data,
						success : function(res) {
							console.log(res)
							if (res.header.status == 1000) {
								if (first) {
									buildPage(res.data.totalPage);
								}
								var htm = '';
								var list = res.data.list
								$(".x-right").text(
										"共有用户   " + list.length + "  位")
								for (var i = 0; i < list.length; i++) {
									htm += '<tr>' + '<td>\n' + list[i].id
											+ '</td>\n' + '<td>\n'
											+ list[i].username + '</td>\n'
											+ '<td>\n' + list[i].mobile
											+ '</td>\n' + '<td>\n'
											+ list[i].email + '</td>\n'
											+ '<td>\n' + list[i].name
											+ '</td>\n';
									var text = '';
									for (var j = 0; j < list[i].roles.length; j++) {
										text += list[i].roles[j].detail + '、';
									}
									htm += '<td>\n' + text + '</td>\n';
									htm += '<td>\n'
											+ fmtDate(list[i].creatTime)
											+ '</td>\n';
									if (list[i].enable) {
										htm += '<td class="td-status">\n'
												+ '<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>\n'
										htm += '<td class="td-manage">\n'
												+ '<button class="layui-btn-warning layui-btn layui-btn-xs" onclick="member_stop(this,'
												+ list[i].id
												+ ')" href="javascript:;"  title="禁用">\n'
												+ '<i class="layui-icon">&#xe62f;禁用</i>\n'
												+ '</button>\n'
												+ '<button class="layui-btn-warning layui-btn layui-btn-xs" title="分配角色"  onclick=\"x_admin_show(\'分配角色\',\'admin-edit.html?id='
												+ list[i].id
												+ '&role=1\')\" href="javascript:;">\n'
												+ '<i class="layui-icon" >&#xe642;分配角色</i>\n'
												+ '</button>\n'
												+ '<button class="layui-btn-danger layui-btn layui-btn-xs" title="删除" onclick="member_del(this,'
												+ list[i].id
												+ ')" href="javascript:;">\n'
												+ '<i class="layui-icon" >&#xe640;删除</i>\n'
												+ '</button>\n' + '</td>\n'
												+ '</tr>\n';
									} else {
										htm += '<td class="td-status">\n'
												+ '<span class="layui-btn layui-btn-normal layui-btn-mini  layui-btn-disabled">已禁用</span></td>\n'
										htm += '<td class="td-manage">'
												+ '<button class="layui-btn-warning layui-btn layui-btn-xs" onclick="member_stop(this,'
												+ list[i].id
												+ ')" href="javascript:;"  title="启用">'
												+ '<i class="layui-icon">&#xe601;启用</i>'
												+ '</button>\n'
												+ '<button title="分配角色" class="layui-btn-warning layui-btn layui-btn-xs" onclick=\"x_admin_show(\'分配角色\',\'admin-edit.html?id='
												+ list[i].id
												+ '&role=1\')\" href="javascript:;">'
												+ '<i class="layui-icon" >&#xe642;分配角色</i>\n'
												+ '</button>\n'
												+ '<button title="删除"  class="layui-btn-danger layui-btn layui-btn-xs" onclick="member_del(this,'
												+ list[i].id
												+ ')" href="javascript:;">'
												+ '<i class="layui-icon" >&#xe640;删除</i>\n'
												+ '</button>' + '</td>' + '</tr>';
									}
								}
								$('#tbody').html(htm)
							} else {
								layer.msg(res.header.message, {
									icon : 2,
									time : 2000
								})
							}
						}
					})
			return false;
		}
		//格式化时间戳
		function fmtDate(obj) {
			var date = new Date(obj);
			var y = 1900 + date.getYear();
			var m = "0" + (date.getMonth() + 1);
			var d = "0" + date.getDate();
			return y + "-" + m.substring(m.length - 2, m.length) + "-"
					+ d.substring(d.length - 2, d.length);
		}

		//头部搜索
		layui.use([ 'laydate', 'form', 'table' ], function() {
			var laydate = layui.laydate;
			var form = layui.form;
			var table = layui.table;

			form.on('submit(serach)', function(data) {
				console.log("查询：" + data.field.username)
				selectAll(null, false, data.field.username)
				return false;
			})

		});

		function choose(obj) {

		}
		/*用户-禁用*/
		function member_stop(obj, id) {

			var status = 0;
			if ($(obj).attr('title') == '禁用') {
				layer.confirm('确认要禁用吗？', function(index) {
					status = 0;
					//发异步把用户状态进行更改
					$.ajax({
						url : '/users/update',
						// data:{},
						type : 'POST',
						dataType : 'json',
						data : {
							'id' : id,
							'enable' : status
						},
						success : function(res) {
							if (res.header.status == 1000) {
								$(obj).attr('title', '启用')
								$(obj).find('i').html('&#xe601;启用');

								$(obj).parents("tr").find(".td-status").find(
										'span').addClass('layui-btn-disabled')
										.html('已禁用');
								layer.msg('已禁用!', {
									icon : 5,
									time : 1000
								});
							} else {
								layer.msg(res.header.message, {
									icon : 2,
									time : 2000
								})
							}
						}
					})
				});
			} else {
				layer.confirm('确认启用吗？', function(index) {
					status = 1;
					//发异步把用户状态进行更改
					$.ajax({
						url : '/users/update',
						// data:{},
						type : 'POST',
						dataType : 'json',
						data : {
							'id' : id,
							'enable' : status
						},
						success : function(res) {
							if (res.header.status == 1000) {
								$(obj).attr('title', '禁用')
								$(obj).find('i').html('&#xe62f;禁用');

								$(obj).parents("tr").find(".td-status").find(
										'span').removeClass(
										'layui-btn-disabled').html('已启用');
								layer.msg('已启用!', {
									icon : 6,
									time : 1000
								});
							} else {
								layer.msg(res.header.message, {
									icon : 2,
									time : 2000
								})
							}
						}
					})
				});
			}

		}

		/*用户-删除*/
		function member_del(obj, id) {
			layer.confirm('确认要删除吗？', function(index) {
				//发异步删除数据
				$.ajax({
					url : '/users/delete',
					// data:{},
					type : 'POST',
					dataType : 'json',
					data : {
						"id" : id
					},
					success : function(res) {
						if (res.header.status == 1000) {
							$(obj).parents("tr").remove();
							layer.msg('已删除!', {
								icon : 1,
								time : 1000
							});
						} else {
							layer.msg(res.header.message, {
								icon : 2,
								time : 2000
							})
						}
					}
				})
			});
		}

		function delAll(argument) {

			var data = tableCheck.getData();

			layer.confirm('确认要删除吗？' + data, function(index) {
				//捉到所有被选中的，发异步进行删除
				layer.msg('删除成功', {
					icon : 1
				});
				$(".layui-form-checked").not('.header').parents('tr').remove();
			});
		}
	</script>

</body>

</html>