<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" lay-filter="layui-form">
            <input type="hidden" id="id" name="id" />
            <input type="hidden" id="pId" name="pId" />
          <div class="layui-form-item">
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>名称:
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>


            <div class="layui-form-item">
                <label for="langType" class="layui-form-label">
                    <span class="x-red">*</span>语言类型:
                </label>
                <div class="layui-input-inline">
                    <select name="langType" id="langType">
                        <option value=""></option>
                        <option value="zh">中文</option>
                        <option value="en">英语</option>
                        <option value="de">德语</option>
                        <option value="fr">法语</option>
                        <option value="jp">日语</option>
                        <option value="hk">繁体中文</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="code" class="layui-form-label">
                    <span class="x-red">*</span>code代码:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="code" name="code" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="type" class="layui-form-label">
                    <span class="x-red">*</span>类型:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="type" name="type" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            // $ = layui.jquery;
          let fm = layui.form
          ,layer = layui.layer;

            let obj = top.editData;
            if(obj.id){
                $.ajax({
                    url: config.urlBase + "/getById",
                    data: {id: obj.id},
                    dataType: "json",
                    success: function (res) {
                        fm.val('layui-form', res);
                    },
                    error: function () {
                    }
                });
            }else{
                fm.val('layui-form', cloneObj(obj));
            }

            top.editData.submit = function () {
                let params = $('form').serialize();
                $.ajax({
                    url: config.urlBase + "/save",
                    data: params,
                    dataType: "json",
                    success: function (res) {
                        top.editData.submitBack(res);
                    },
                    error: function () {
                    }
                });
            };
        });
    </script>
  </body>

</html>